/* Header  */

.header-section {
  display: flex;
  align-items: center;
}
.header-section h4 {
  margin-left: 10px;
  color: #fff;
}

/* Sidebar  */
.ant-list-vertical .ant-list-item {
  padding: 16px;
}

.ant-list-vertical .ant-list-item-meta-title {
  margin-bottom: 0;
}

.ant-list-vertical .ant-list-item-extra {
  margin-left: 15px;
  align-self: center;
}

.ant-list-item-extra img {
  width: 50px;
  height: auto;
}

.dismiss-button {
  text-align: center;
  font-weight: 700;
  padding: 10px;
}

.demo-infinite-container {
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  overflow: auto;
  height: 80vh;
}
.demo-loading-container {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}

.ant-list-vertical .ant-list-item {
  display: block;
}

.ant-list-vertical .ant-list-item > img {
  position: absolute;
  top: 20px;
  right: 20px;
}
.list-link-style {
  color: #1890ff;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-text-decoration-skip: objects;
}

.list-link-style:hover {
  color: #40a9ff;
  text-decoration: underline;
}

/* Content */

.content-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Footer */

.ant-layout-footer {
  padding: 24px 50px;
  color: #fff;
  font-size: 14px;
  background: #001529;
}

section.ant-layout-has-sider {
  margin-top: 64px;
}

.fetch-button {
  text-align: center;
  margin: 20px;
}

@media (max-width: 768px) {
  .ant-list-vertical .ant-list-item-main {
    min-width: 100%;
  }

  .ant-list-vertical .ant-list-item-action > li {
    padding: 0 10px;
  }

  .ant-list-item-meta-title {
    word-break: break-all;
  }

  .ant-list-vertical .ant-list-item > img {
    position: relative;
    margin: 10px auto;
    width: 100%;
  }
}
